* {
    margin: 0; padding: 0;
    font-family: minion-pro;
  
  }
  a {
    color: #000000;
    
  }

  a.textWhite {
    color:#FFFFFF;
    padding: 0%;
}
  
  h2 {
    padding-left: 7%;
    padding-right: 7%;
    
    padding-bottom: 0.5em;
    font-family: franklin-gothic-urw;
    font-size: 50px;
    
  }
  
  h3 {
    font-family: franklin-gothic-urw;
  }
  
  p{
    
  padding-left: 7%;
  padding-right: 7%;
  font-size: 20px;
  }

  .text{
    
    align-self: center;
    width: 70%;
  }

  .textNoPic{
    
    align-self: center;
    margin: auto;
    padding-left: 15%;
    padding-right: 15%;
  }

  .textWhite{
    
    align-self: center;
    margin: auto;
    padding-left: 15%;
    padding-right: 15%;
    color:#f4f4f4;
  }

img.dom {
    align-self: center;
    width: 30%;
    padding-right: 5%;
    
}
.author{
  padding-top:1em;
  font-family:minion-std-black;
}

img.domLeft {
  align-self: center;
  width: 30%;
  padding-left: 5%;
  
}

  img.opener {
    
  
    width: 100%;
    
    display: block;
    margin: auto;

  }

  /* drop cap */
  .dropcap {
  font-size: 5rem;
  font-weight: 600;
  float: left;
  line-height: 1;
  margin-top: 0.05em;
  margin-right: 0.1em;
  color: rgb(65,74,66);
}
.dropcap:before, .dropcap:after {
  content: “”;
  display: block;
}
.dropcap:before {
  margin-bottom: -0.175em;
}
.dropcap:after {
  margin-top: -0.05em;
}
  
  /* Setting fade transition and default settings */
body {
  color: #000;
  background-color: #f4f4f4;
  transition: background-color 1s ease;
}


/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
  display: flex; 
  justify-content: center;
  
  
  
   
  /* turn above on to see the edge of panels */
}


/* colours */
.color-violet {
  background-color: #7A4EAB;
}
.color-indigo {
  background-color: #4332CF;
}
.color-blue {
  background-color: #2F8FED;
}
.color-green {
  background-color: #98FB98;
}
.color-yellow {
  background-color: #F5BE6A;
}
.color-orange {
  background-color: #F19031;
}
.color-red {
  background-color: #e0474c;
}
.color-peach{
  background-color: #FFE5B4;
}
.color-black{
  background-color: #000000;
}

.color-fbBlue{
  background-color: #3b5998;
}

.color-mint{
  background-color:#3eb489;
}

.color-pink{
  background-color:#FFC0CB;
}

.color-white{
  background-color:#f9f1f1;
}


@media screen and (max-width: 800px) {
  .panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    flex-direction: column;

    
    
    
     
    /* turn above on to see the edge of panels */
  }
  img.dom {
    align-self: center;
    width:80%;
    
    padding-right: 0%;
    
    padding-bottom: 10%;
    
    
}

img.domLeft {
  align-self: center;
  width:80%;

  padding-left: 0%;
  
  padding-bottom: 10%;
  
  
}


.text{
    
  align-self: center;
  padding-bottom: 10%;
  order:1;
  width: 100%;
  
}

.textNoPic{
  
  align-self: center;
  margin: auto;
  padding-bottom: 10%;
  order:1;
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
 
}

.textWhite{
  
  align-self: center;
  margin: auto;
  padding-bottom: 10%;
  color:#f4f4f4;
  order:1;
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
}
h2{
  font-size: 35px;
}

}